@import "./colors.scss";

body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: $DEFAULT_BACKGROUND_COLOR;
  perspective: 1000px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif !important;
}
